* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: solid 1px #000;
    padding: 20px;
    margin: 20px;
}

.row {
    display: flex;
}

.box {
    width: 20px;
    height: 20px;
    border: solid 1px #000;
}